# Continue with List 
1) POP Method:-

In [2]:
fruits = ['apple','banana','cherry','apple','banana','cherry',]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'apple', 'banana', 'cherry']

# # sort Method:-

In [4]:
cars = ['Ford','BMW',"Volvo"]
cars.sort()           # The words will be arrange in aplhabetical order.
print(cars)

['BMW', 'Ford', 'Volvo']

# Split Method

It split the sentence into words by seperating them in interverted commas

In [5]:
text = input("Enter the word:")  # To take the input from the user input keyword and split into single word

Enter the word:I love pyhton programming language

In [7]:
text.split()

['I', 'love', 'pyhton', 'programming', 'language']

# Pyton Tuples
## Tuples are Immutable datatypes(unchangeable)
##  A tuple is another sequence data type that is similar to the list.

In [8]:
# create a tuple:-

tup1 = "parul",22,"Bharat",45.5,"vadodara",99
print(tup1)
print(type(tup1))

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>

In [9]:
tup1[4]

'vadodara'

In [10]:
tup1[2:4]

('Bharat', 45.5)

In [11]:
tup1[2][0:2]   # here we first choose index and on them we do slicing

'Bh'

In [12]:
tup2 = ("Pyhton", 87) # Here we are doing concentation
tup3 = tup1 +tup2
print(tup3)

('parul', 22, 'Bharat', 45.5, 'vadodara', 99, 'Pyhton', 87)

In [19]:
tup=tuple("Aditya" * 9)
print(tup, end="")

('A', 'd', 'i', 't', 'y', 'a', 'A', 'd', 'i', 't', 'y', 'a', 'A', 'd', 'i', 't', 'y', 'a', 'A', 'd', 'i', 't', 'y', 'a', 'A', 'd', 'i', 't', 'y', 'a', 'A', 'd', 'i', 't', 'y', 'a', 'A', 'd', 'i', 't', 'y', 'a', 'A', 'd', 'i', 't', 'y', 'a', 'A', 'd', 'i', 't', 'y', 'a')

In [15]:
del tup3[3]  # tuple is immutlabe so we can't delete the element of the tuple
print(tup3)

# but we can delete the whole tuple it is possible.

TypeError: 'tuple' object doesn't support item deletion

# Count Method

## Returns the number of times a specified value occurs in a tuple

In [21]:
numbers = (1,3,7,8,7,5,4,6,8,5)

x=numbers.count(5)  # 5 is the element in tuple

print(x)

2

# Index 

## Seaches the tuples for a specified value and returns the position of where it was found

In [23]:
numbers = (1,3,7,8,7,5,4,6,8,5)
x = numbers.index(8)
print(x)

3

# Python Dictionary

### Dictionary are used to data values in key:values pairs.
### Dictionary are written with curly brackets.

In [26]:
cars = {
    "Brand":"Mahindra",
    "Model": "Thar",
    "Year": 20120
    
}

print(cars)
print(type(cars))

{'Brand': 'Mahindra', 'Model': 'Thar', 'Year': 20120}
<class 'dict'>

In [29]:
print(cars["Brand"])

Mahindra

In [31]:
#Accessing Method

print(cars.keys())   # It will print all the keys present in the dictionary

dict_keys(['Brand', 'Model', 'Year'])

In [33]:
print(cars.values())  # It will print all the values present in the dictionary

dict_values(['Mahindra', 'Thar', 20120])

In [36]:
print(cars.items())   # if want to see all the key:value pairs in the dictionary

dict_items([('Brand', 'Mahindra'), ('Model', 'Thar'), ('Year', 20120)])

# Update Method

## The update( ) method will update the dictionary with the items form the given argument.

In [41]:
cars.update({"year":2022})
cars

{'Brand': 'Mahindra',
 'Model': 'Thar',
 'Year': 20120,
 'color': 'black',
 'year': 2022}

In [53]:
## Adding Items

cars["color"] = "black"   # To add key-value pair
print(cars)

{'Brand': 'Mahindra', 'Year': 20120, 'color': 'black', 'year': 2022}

# Removing items

In [55]:
cars.pop("Brand")
cars

{'Year': 20120, 'color': 'black', 'year': 2022}

## Sets 

## non-changleable and immutable

In [57]:
subjects1 = {'Physic', 'Hindi', 'Chemistry','maths','Hindi'}
print(subjects1)
print(type(subjects1))

{'Chemistry', 'Physic', 'Hindi', 'maths'}
<class 'set'>

In [59]:
subjects2 = {'History', 'Social Science', 'Biology','Hindi'}
print(subjects2)

{'Social Science', 'History', 'Hindi', 'Biology'}

In [60]:
# union of two sets

subjects1 | subjects2  # This pipe symbol used to make union of two sets

{'Biology',
 'Chemistry',
 'Hindi',
 'History',
 'Physic',
 'Social Science',
 'maths'}

In [61]:
subjects1.union(subjects2)  # This another method to make union of two sets

{'Biology',
 'Chemistry',
 'Hindi',
 'History',
 'Physic',
 'Social Science',
 'maths'}

In [63]:
# Intersection of two sets

subjects1.intersection(subjects2)   # To find the common items in both the sets

{'Hindi'}

# Python Built in Functions in data types
# 1. Len Function

In [65]:
fruits = ['apple','banana','cherry']
len(fruits)

3

In [68]:
len(fruits[2])  # if we want to find the specified element length

6

# 2. Sorted Function

In [70]:
theater = {
    "Movie":"Pushpa",
    "Actor":"Allu Arjun",
    "year":2021
}
sorted(theater)

['Actor', 'Movie', 'year']

# 3. Max Function

In [72]:
numbers = [1,3,7,8,7,5,4,6,8,5]
max(numbers)

8

# 4. Sum Function

In [74]:
numbers = [1,3,7,8,7,5,4,6,8,5]
sum(numbers)

54

# 5. Dir Function

## Retrun  a methods in datatypes

In [77]:
a=dir(list)
print(a,end="")

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [1]:
a=dir(str)
print(a,end="")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# Typecasting

In [3]:
n = 10  # integer
print(type(n))

n=float(n)  # converted into float
print(type(n))

<class 'int'>
<class 'float'>

In [5]:
n =10              # Integer
n =str(n)
print(type(n))   # converted to string

<class 'str'>

In [9]:
fruits = ['apple','banana','cherry']  # List
print(type(fruits))

fruits = tuple(fruits)    # converted to tuple
print(type(fruits))
print(fruits)      # converted into list

<class 'list'>
<class 'tuple'>
('apple', 'banana', 'cherry')

# Exercise 

1. Create an empty list called fruits_list.
2. Add "apple", "banana", "orange", "grape", and "mango" to the fruits_list.
3. Print the first, last, and second & third fruits in the list using slicing.
4. Print the number of fruits in the list.
5. Replace the third fruit with "pear" in the list.
6. Check if "apple" is present in the fruits_list and print the result.
7. Remove "banana" and the last fruit from the list.
8. Create another list additional_fruits with "watermelon" and "kiwi", then concatenate it with fruits_list.
9. Sort the fruits_list in alphabetical order.
10. Count the number of times "kiwi" appears in the fruits_list.

In [2]:
# 1. Create an empty list called fruits_list.
fruits_list = []
# 2. Add "apple", "banana", "orange", "grape", and "mango" to the fruits_list.
new_items = ["apple", "banana", "orange", "grape","mango"]
for item in new_items:
    fruits_list.append(item)
print(fruits_list)

['apple', 'banana', 'orange', 'grape', 'mango']

In [15]:
# first fruit using slicing
fruits_list[0]

'apple'

In [16]:
# Second fruit using slicing
fruits_list[2]

'orange'

In [17]:
# second and third string using slicing
fruits_list[2:4]

['orange', 'grape']

# 4. Print the number of fruits in the list.

In [19]:
len(fruits_list)

5

# 5.Replace the third fruit with "pear" in the list.

In [31]:
fruits_list[3] = "pear"
print(fruits_list)

['apple', 'orange', 'pear', 'pear']

# 6. Check if "apple" is present in the fruits_list and print the result.

In [29]:
i = "apple"
if i in fruits_list: 
    print("exist") 
else: 
    print("not exist")

exist

# 7.Remove "banana" and the last fruit from the list.

In [33]:
fruits_list=['apple', 'banana', 'orange', 'grape', 'mango']
fruits_list.remove("banana")
fruits_list

['apple', 'orange', 'grape', 'mango']

# 8. Create another list additional_fruits with "watermelon" and "kiwi", then concatenate it with fruits_list.

In [35]:
additonal_fruits=["watermelon","kiwi"]
fruits_list = fruits_list + additonal_fruits
fruits_list

['apple', 'orange', 'grape', 'mango', 'watermelon', 'kiwi']

 # 9.Sort the fruits_list in alphabetical order.

In [38]:
fruits_list.sort()
fruits_list

['apple', 'grape', 'kiwi', 'mango', 'orange', 'watermelon']

# 10. Count the number of times "kiwi" appears in the fruits_list.

In [40]:
fruits_list.count("kiwi")

1

# Function

In [14]:
def add_numbers(num1, num2):
    result = num1 + num2
    return result

In [18]:
a= add_numbers(4,5)
print(a)

9

# Python if Statement

In [ ]:
number =10
#check if number is greater than 0
if number >0:
    print("Number is positive")
print("The if statement is easy")

# Python if...else Statement

In [25]:
number =10
if number>10:
    print("Positive number")
else:
    print("Negative number")
print("This statement is always executed")

Negative number
This statement is always executed

# Python Elif... Statement

In [ ]:
number = int(input("Enter Number: "))
if number>0:
    print("Positive number")
elif number == 0:
    print('Zero')
    

    print("Negative number")
print("This statement is always executed")

Enter Number: 2
Positive number
This statement is always executed