In [2]:
#print hello world

print("Hello World")

Hello World

In [62]:
x=10
y=11
z=12
print(id(x))
print(id(y))
print(id(z))

140720097629256
140720097629288
140720097629320

In [63]:
myvar="hello"
my_var="hello"
_my_var="hello"
myVar="hello"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)

hello
hello
hello
hello

# Type of variable
There are two type of variables 1) Local Vairable

def hello():
    a=10
    print(a)
    return
hello()

# 2. Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [65]:
a="Welcome to Code Unnati 2.0"
def hello():
    a=20
    print(a)
    return
print(a)

Welcome to Code Unnati 2.0

# 3. keyword 


false, None, class, continue, finlly, is, return, True.........

# 4. Data Types
1) Number
2) Stirng
3) tuple
4) list
5) Dictionary
6) complex

In [4]:
# This is integer datatype
a=10
print(a)
print(type(a))

10
<class 'int'>

# Operators
1) Arithematic operator

# Multiple assignment

In [24]:
b,c,d = 11,12,13
print(a,b,c,d)

10 11 12 13

In [9]:
x =5
y =3
print(x+y)
print(x-y)
print(x/y)  # float value
print(x//y)  # integer value
print(x%y)

8
2
1.6666666666666667
1
2

# Assignment operator

In [11]:
x = 5
x +=3 
print(x)

8

In [13]:
x = 5
x *= 3
print(x)

15

# Comparison operator

In [14]:
x =5
y =3
print(x==y)

# return flase beacuse 5 is not equal to 3

False

In [16]:
x =5
y =3
print(x!=y)

# return True beacuse 5 is not equal to 3

True

# Logical Operator

In [18]:
x =5
print(x>3 and x<10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [22]:
x =5
print(not(x>3 and x<10))
# returns flase because notis used to reverse the result

False

In [25]:
# use input keyword to take input from user 

# ask user to enter the value and store it in variable x

x= int(input("Enter the value of x: "))
# ask to enter the value and store it in variable y
y= int(input("Enter the value of y: "))
#perform multiplication of x and y and sotre answer in variable z
z = x*y
# print answer
print(z)

Enter the value of x: 5
Enter the value of y: 6
30

# String 
. String in python are identified as a contiguous set of characters represented in the quotation marks. Python allows either pair of single or double quotes.
. Subsets of strings can be taken using the slice operator([] and [:])with indexes starting at 0  in the beginning of the string to the end of the string 
. The plus(+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [29]:
statement= "     python is a programming language   "
print(statement)

     python is a programming language

In [32]:
print(type(statement)) # type is used to check the datatype

<class 'str'>

In [44]:
print(statement[:-1])

     python is a programming language

# Method in python strings

In [67]:
a = '   Aditya raj is good boy  '
a.lower()

'   aditya raj is good boy  '

In [68]:
a.upper()

'   ADITYA RAJ IS GOOD BOY  '

In [69]:
a.title()  # to convert text into snakewriting

'   Aditya Raj Is Good Boy  '

In [72]:
a.lstrip()  # it remove the space from the left handside

'Aditya raj is good boy  '

In [78]:
a.rstrip()  # it remove the space from the left handside

'   Aditya raj is good boy'

In [79]:
a.strip()  # it remove the space from the both side

'Aditya raj is good boy'

# String Formatting
. Strings in python can be formatted with the use of format() mehtod which is very versatile and powerful tool for formatting of strings.


. Format method in string contains curly braces{} as placeholders which can hold arguments according to position or keyword to specify the order.

In [87]:
# Default order
string = "{} {} {}".format('Python','Programming','Language')  
print("\nPrint string in Default order: ")
string

Print string in Default order:

'Python Programming Language'

In [84]:
string = "{1} {0} {2}".format('Python','Programming','Language')  # Positional Formatting
print("\nPrint string in Positional order: ")
string

Print string in Positional order:

'Programming Python Language'

In [88]:
string = "{c} {a} {b}".format(a='Python',b='Programming',c='Language')  # Keyword Formatting
print("\nPrint string in keyword order: ")
string

Print string in keyword order:

'Language Python Programming'

In [114]:
#The idea behing f-strings is to make string interpolation, simpler, to create an f-string, prefix the string with the letter "f".The String itself can be formatted in same way that you would with str.format(). F-strings provide a concise and expressions inside string literals for fromatting.
name='Aditya'
course='Code Unnti Program 2.0'
print(f"Hello, My name is {name} and I registered for {course}")

Hello, My name is Aditya and I registered for Code Unnti Program 2.0

# String Slicing

In [93]:
# Positive indexing (forward indexing)  and Negative indexing (backward indexing )
str = "ADITYARAJAVI"
str[0]

'A'

In [95]:
str[2]

'I'

In [98]:
str[0:5]

'ADITY'

str[:-1]

In [103]:
str[:]

'ADITYARAJAVI'

In [119]:
str[-4:-1]

'JAV'

In [120]:
str[::-1]   # it will start form end till last because we are given a negative index

'IVAJARAYTIDA'

In [123]:
str[::-1]

'IVAJARAYTIDA'

# List: []

In [124]:
# list are used to multiple value in a single varibale.
# list is mutable datatypes (changeable)
# list are created using square brackets.
# list items are ordered and allow duplicate values 
# list items are indexed, the first items has index[0], the second item has index[1] etc..

In [131]:
# create list
list1 = ["parul", 22, "Bharat", 45.5,"vadodra",99]
print(list1)
print(type(list1))

['parul', 22, 'Bharat', 45.5, 'vadodra', 99]
<class 'list'>

In [133]:
list1[0]       # it will considerd the first whole string at 0 index.

'parul'

In [134]:
list1 = ["parul", 22, "Bharat", 45.5,"vadodra",99]
list1[2][1:4] # with the help of this we can do slicling in a particular string.

'har'

In [135]:
fruits = ['apple','banana','cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [138]:
fruits = ['apple','banana','cherry']
cars = ['Ford','Flite','carrom']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'Flite', 'carrom']

In [140]:
# inserting element in the specific position.
# The insert() method inserts the specified value at the specified positiion.
fruits = ['apple','banana','cherry']
fruits.insert(1,"Aditya")     # insert orange at index 1
print(fruits)

['apple', 'Aditya', 'banana', 'cherry']

In [ ]:
# Pop Method

#we can remove element at specified index 

fruits = ['apple','banana','cherry']
fruits.pop()      # it will remove last element by default
fruits.pop(2)     # it will remove  element from specified position.
print(fruits)